<div class="container-fluid">
  <input type="text" [(ngModel)]="textoPesquisa">
  <ul>
    <li *ngFor="let lotacao of linhasLotacao | filtro : textoPesquisa" >
      <a>
        <p>lotação: {{lotacao.nome}}</p>
        <a routerLink="/itinerario/{{lotacao.id}}">Id: {{lotacao.id}}</a>
        <p>Código: {{lotacao.codigo}}</p>
      </a>
    </li>
  </ul>
</div>