<!-- <div class="container-fluid">

<input type="text" [(ngModel)]="textoPesquisa">
  <ul>
    <li *ngFor="let onibus of linhasOnibus | filtro : textoPesquisa">
      <a>
        <h2>Ônibus: {{onibus.nome}}</h2>
        <a routerLink="/itinerario/{{onibus.id}}">Id: {{onibus.id}}</a>
        <h4>Código: {{onibus.codigo}}</h4>
      </a>
    </li>
  </ul>
</div> -->
<div class="container">
<input type="text" name="search" [(ngModel)]="textoPesquisa" style="text-align: justify">
<div *ngFor="let onibus of linhasOnibus | filtro : textoPesquisa">
  <div class="list-group">
    <a class="ast-group-item list-group-item-action" (click)="openModal(template, onibus.id)" route="10">
      <h5>{{ onibus.nome }}</h5>
      <p>id: {{ onibus.id }}</p>
      <p>codigo: {{ onibus.codigo }}</p>
    </a>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ onibus.nome }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-itinerario></app-itinerario>
    </div>
  </ng-template>
</div>
</div>


