<div *ngIf = "itinerarioHeader != undefined" >
  <h1>Linha: {{itinerarioHeader.nome}} </h1>
  <p>Id: {{itinerarioHeader.idlinha}} - código: {{itinerarioHeader.codigo}}</p>
  <ul>
    <li>
      <div *ngFor = "let ponto of itinerario">
        <a href = "https://www.google.com/maps/?q={{ponto.lat}},{{ponto.lng}}">Ponto {{ponto.ponto}}</a>
      </div>
    </li>
  </ul>
</div>
