<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><img src="../favicon.ico" class="logo"></a>
      <span class="navbar-brand">BusPoA</span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link" routerLink="/linhas-onibus">ônibus</a>
    <a class="nav-item nav-link" routerLink="/linhas-lotacao">Lotação</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<!--
<div class="meuContainer" style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>

    <h2>Escolha uma opção: </h2>
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <h2><a routerLink="/lista-lotacao">Lista lotacao</a></h2>
      </div>
      <div class="col col-lg-2">
        <h2><a routerLink="/lista-onibus">Lista onibus</a></h2>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div> -->
